.link {
  @include fonts($font_size2, $font-weight2);

  &.-primary {
    padding-top: 20px;
  }

  &.-nav {
    color: $color-gray1;
  }

  &.-learn {
    @include rowing(null, center);
  }

  &.-primary,
  &.-learn,
  &.-advice {
    color: $color_secondary;
  }
}


.arrow-blue-spaced {
  margin-left: 10px;
}