.primary-link {
  font: {
    size: $font_size2;
    weight: $font-weight2;
  }
  color: $color_secondary;
}

.link-nav {
  font: {
    size: $font_size2;
    weight: $font-weight2;
  }
  color: $color-gray1;
}